@font-face {
  font-family: "iconfont"; /* Project id 3541535 */
  src: url('iconfont/iconfont.woff2') format('woff2'),
       url('iconfont/iconfont.woff') format('woff'),
       url('iconfont/iconfont.ttf?t=1658991019267') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
